doctype 5
html
  head
    title Timesheets app
    link(rel="stylesheet",href="/stylesheets/style.css" )
    script(src="/lib/requirejs/require.js" data-main="/app/main")
  body
    #applicationHost
      .splash
        The app will appear here
